# Ignore node stuff
node_modules/
deployments/
package-lock.json
yarn-error.log

# Ignore build stuff
artifacts/
cache/
coverage/
coverage.json
build/
dist/
test/

# Buidler cache
cached/

# Ignore solc bin output
bin/

# Others
.env
.DS_Store
.vscode

# Reports
/reports
